

#joinBox{
    background: white;
    
}
#joinBox h2{
    margin: 13px auto;
    
}
table{
    border-spacing: 0 13px;
}
th{
    text-align: left;
    width: 125px;
}

#idBox,
#pwBox, 
#pwChkBox, 
#nameBox, 
#emailBox,
#hpBox
{
    width: 340px;
    height: 48px;
    border: 1px solid black;
    background: white;
}

#addressBox{
	width: 340px;
	border: 1px solid black;
    background: white;
}

#idBox input,
#pwBox input,
#pwChkBox input,
#nameBox input{
    border:none;
    width: 320px;
    margin-left: 5px;
    font-size: 14px;
    height:30px;
    line-height: 30px;
    text-align: left;
}
#hpBox input{
	border: none;
    height: 30px;
}

#zipcode{
 	border:none;
    margin-left: 5px;
    font-size: 14px;
    width:200px;
    height:30px;
    line-height: 30px;
    text-align: left;
 }
#searchZip{
	width: 100px;
	font-size: 14px;
}

#address1,
#address2{
	border: none;
    width: 320px;
    margin-left: 5px;
    font-size: 14px;
    height:30px;
    line-height: 30px;
    text-align: left;
}

 

#emailBox input{
    border: none;
    width: 190px;
    height: 30px;
}

#emailBox input{
    text-align: left;
}

#emailRcv{
    float: left;
    line-height: 30px;
}


#joinButton, #cancel{
    width: 465px;
    height: 48px;
    margin-top: 13px;
    margin-right: 0;
    font-size: 18px;
    background: #3e2723;
    color: white;
    border: solid 1px black;
    
}